<div class="row">
    <div>
        <p>
            This is an early stages of a node based project designed to allow users to
            upload a text file and display it as a teleprompter.
        </p>
    </div>

    <div>
        <p>
            Prepping menus
        </p>
    </div>

</div>
